{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <!-- Responsive/Encoding Metas -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- SEO Metas -->
    <meta name="description" content="Fundraising - Ultimate Charity/Donations HTML Template" />
    <meta name="keywords" content="fundraising, charity, ngo,  html template" />
    <meta name="author" content="ThemeSLR" />

    <!-- Page Title -->
    <title>{% block pagetitle %}{% endblock pagetitle %}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static "img/favicon.png"%}">

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/d6c332c78e.js" crossorigin="anonymous"></script>

    <!-- Begin: CSS Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/responsive.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/owl.carousel.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/owl.theme.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/owl.transitions.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome-animation.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/YTPlayer.css" %}"/><!-- CSS: YTPlayer CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "css/simple-line-icons.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/swipebox.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/navigation.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/animate.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/color-schemes/skin-blue.css" %}" id="css-default" />
    {% block extracss %}{% endblock extracss %}
    <!-- End: CSS Stylesheets -->

    <!-- Google Fonts -->
    <link href='//fonts.googleapis.com/css?family=Signika:300,400,600,700&amp;subset=latin-ext%7CRaleway:300,300i,400,400i,500,500i,600,600i,700,800,900' rel='stylesheet' type='text/css'>
</head>

<!-- BODY -->
<body class="home" id="body">
    <!-- PAGE LOADER -->
    <!-- <div class="amaezi-page-loader">
        <div id="loader-wrapper">
            <div id="loader"></div>
        </div>
    </div> -->


    <div class="row">
        <div class="container">
            <div class="col-md-3">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img alt="logo" src="{% static "img/RescuWiseLogo.png" %}">
                </a>
            </div>
            <div class="col-md-9 fundraising-contact-details">

                <div class="header-nav-actions">
                    <!-- DONATIONS BUTTON -->
                    <button type="button" class="btn btn-lg btn-login">
                       LOG IN
                  </button>
                </div>
            </div>
        </div>
    </div>

    <div class="sticky-header row" id="sticky-header">
        <div class="sticky-header-content container">
            <div class="row">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#theme-main-nav-menu" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="theme-main-nav-menu">
                            <ul class="nav navbar-nav navbar-left">
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li><a href="{% url 'listanimals' %}">Animals</a></li>
                                <li><a href="{% url 'howitworks' %}">How it Works</a></li>
                                <li><a href="{% url 'aboutus' %}">About</a></li>
                                <li><a href="{% url 'contact' %}">Contact</a></li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>
            </div>
        </div>
    </div>


    <!-- HEADER -->
    <header class="amaezi-fullscreen-header">

        <!-- HEADER OVERLAY -->
        <div class="amaezi-header-overlay">
          <img alt="" src="{% static "img/Puppies.jpg"%}">
        </div>

        <!-- Header Video -->
        <!-- <div class='youtube-video'></div>
        <a class="youtube-player" data-property="{videoURL:'Tl8E1DzJ0bo',containment:'.youtube-video',autoPlay:true, mute:true, startAt:0, opacity:1,ratio:'16/9',showControls:false,showYTLogo:false}"></a> -->

        <!-- HEADER CONTENT -->
        <div class="amaezi_header_content">
            <h1 class="amaezi_header_title">{% block headertitle %}{% endblock headertitle %}</h1>
            <h3 class="amaezi_header_subtitle">{% block headersubtitle %}{% endblock headersubtitle %}</h3>
        </div>
    </header>


    <!-- MAIN CONTAINER -->
    <div id="container" class="main-content">
      <!-- Page content -->
      <div class="container high-padding">
          <div class="row">
              <div class="col-md-12 main-container">
                  <!-- Post content -->
                  <div class="post-content animateIn" data-animate="fadeIn">

                      <!-- TITLE + SUBTITLE section -->
                      <div class="relative section-header">
                        {% block contenttitle %}{% endblock contenttitle %}
                      </div>
                        {% block bodycontent %}{% endblock bodycontent %}
                  </div>
              </div>
          </div>
      </div>
    </div>


    <!-- SECTION: INSTAGRAM FEED -->
    <section>
        <div id="tslr_instagram_feed" class="tslr_instagram_feed row">
            <div class="item col-md-2 no_gap">
                <div class="instagram_group">
                    <a target="_blank" href="#">
                        <div class="instagram_overlay">
                            <i class="icon-social-instagram icons"></i>
                        </div>
                        <img alt="" src="{% static "img/instagram-feed/insta_01.jpg"%}">
                    </a>
                </div>
            </div>
            <div class="item col-md-2 no_gap">
                <div class="instagram_group">
                    <a target="_blank" href="#">
                        <div class="instagram_overlay">
                            <i class="icon-social-instagram icons"></i>
                        </div>
                        <img alt="" src="{% static "img/instagram-feed/insta_02.jpg"%}">
                    </a>
                </div>
            </div>
            <div class="item col-md-2 no_gap">
                <div class="instagram_group">
                    <a target="_blank" href="#">
                        <div class="instagram_overlay">
                            <i class="icon-social-instagram icons"></i>
                        </div>
                        <img alt="" src="{% static "img/instagram-feed/insta_03.jpg"%}">
                    </a>
                </div>
            </div>
            <div class="item col-md-2 no_gap">
                <div class="instagram_group">
                    <a target="_blank" href="#">
                        <div class="instagram_overlay">
                            <i class="icon-social-instagram icons"></i>
                        </div>
                        <img alt="" src="{% static "img/instagram-feed/insta_04.jpg"%}">
                    </a>
                </div>
            </div>
            <div class="item col-md-2 no_gap">
                <div class="instagram_group">
                    <a target="_blank" href="#">
                        <div class="instagram_overlay">
                            <i class="icon-social-instagram icons"></i>
                        </div>
                        <img alt="" src="{% static "img/instagram-feed/insta_05.jpg"%}">
                    </a>
                </div>
            </div>
            <div class="item col-md-2 no_gap">
                <div class="instagram_group">
                    <a target="_blank" href="#">
                        <div class="instagram_overlay">
                            <i class="icon-social-instagram icons"></i>
                        </div>
                        <img alt="" src="{% static "img/instagram-feed/insta_06.jpg"%}">
                    </a>
                </div>
            </div>
        </div>
    </section>


    <!-- FOOTER -->
    <footer class="footer">
        <div class="row footer-top animateIn" data-animate="fadeIn">
            <div class="container">
                <div class="high-padding row">
                    <div class="widget widget_text col-md-6">
                        <a href="#" class="footer-logo">
                            <img src="{% static "img/theme_logo_light.png"%}" alt="" />
                        </a>
                        <div class="spacer_10"></div>

                        <p>Fundraising HTML blandit lectus vitae convallis. Ut ipsum enim, consectetur at lobortis at, sagittis vel nisl. Nam non maximus elit, at sollicitudin mi. Donec ut tortor varius, feugiat ante venenatis, efficitur mauris. </p>
                        <div class="spacer_15"></div>

                        <!-- SOCIAL LINKS -->
                        <aside class="widget widget_social_links">
                            <div class="social_links">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                        </aside>
                    </div>
                    <div class="widget widget_nav_menu col-md-3">
                        <h3 class="widget-title"> Fundraising <span>Causes</span></h3>
                        <div class="menu-footer-1-latest-causes-container">
                            <ul class="menu">
                                <li class="menu-item">
                                    <a href="#">Help Marta start walking again</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Help save Nicolas’s paws</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Max the Husky, Surgery Fund</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Help us say welcome to Josua</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Marry Jane kids college fund</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget widget_nav_menu col-md-3">
                        <h3 class="widget-title row"> From <span>The Blog</span></h3>
                        <ul class="widget_blog_posts row">
                            <li>
                                <div class="col-md-3 no_gap post-thumbnail relative">
                                    <a href="#">
                                        <img alt="" class="img-rounded" src="{% static "img/content/fundraising_activism_33-70x70.jpg"%}">
                                    </a>
                                </div>
                                <div class="col-md-9 post-details">
                                    <a href="#">New Education During National LMS Day</a>
                                    <div class="clearfix"></div>
                                    <span class="post-date">July 18, 2017</span>
                                </div>
                            </li>
                            <li>
                                <div class="col-md-3 no_gap post-thumbnail relative">
                                    <a href="#">
                                        <img alt="" class="img-rounded" src="{% static "img/content/fundraising_activism_11-70x70.jpg"%}">
                                    </a>
                                </div>
                                <div class="col-md-9 post-details">
                                    <a href="#">Stitching Together A New Life</a>
                                    <div class="clearfix"></div>
                                    <span class="post-date">July 18, 2017</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer-bottom">
            <a class="amaezi-top" href="#body">
                <i class="fa fa-angle-up"></i>
            </a>
            <div class="container">
                <div class="row animateIn" data-animate="fadeIn">
                    <div class="copyright-informations text-left col-md-6">
                        Made with <i class="icon-heart fa faa-tada faa-fast animated"></i> in Europe by ThemeSLR
                    </div>
                    <div class="text-right col-md-6">
                        <ul class="menu">
                            <li class="menu-item">
                                <a href="#">Contact</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Blog</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Donations</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Purchase</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- Begin: JS Scripts -->
    <script src="{% static "js/jquery.min.js"%}"></script>
    <script src="{% static "js/plugins.js"%}"></script>
    <script src="{% static "js/custom.js"%}"></script>
    <!-- End: JS Scripts -->
</body>
</html>
