{% extends 'base.html' %}

{% block pagetitle %}Fundraising - Ultimate Charity/Donations HTML Template{% endblock pagetitle %}

{% block headertitle %}Get in Touch{% endblock headertitle %}

{% block headersubtitle %}Your donation is protected. Share your love over a cause{% endblock headersubtitle %}

{% block contenttitle %}
<h2 class="section-title"> Fundraising Company <span>For Better Lifes </span></h2>
<p>Fundraising is now made easy using Fundraising HTML Template! Share the news and press<br /> releases to your focus group and complete charity causes using donations.</p>
{% endblock contenttitle %}

{% block bodycontent %}
<p>Import info goes here!</p>
{% endblock bodycontent %}
