{% extends 'base.html' %}
{% load static %}

<!-- Contents of <title> tag  -->
{% block pagetitle %}RescuWise - Saving Lives{% endblock pagetitle %}

<!-- add <link> tags for any specific css needed for this page -->
{% block extracss %}{% endblock extracss %}

<!-- Banner title and subtitle overlays -->
{% block headertitle %}RescuWise{% endblock headertitle %}
<!-- {% block headersubtitle %}{% endblock headersubtitle %} -->

{% block contenttitle %}
<h2 class="section-title"> Help pets find forever homes. <span>Save lives. </span></h2>
<p>Every year, over 2 million healthy, adoptable pets are euthanized for reasons like lack of space in a shelter.<br /> Animal rescues need money in order to pull an animal from a shelter and save their lives.<br> That's where you come in! Donate money, give a pet a second chance at a life with a loving family.</p>
{% endblock contenttitle %}

<!-- main page content -->
{% block bodycontent %}


        <!-- SECTION: CAUSES -->
        <section class="high-padding white-section">
            <div class="container">
              <h1>Most Urgent Animals</h1>
                <!-- Blog posts section -->
                <div class="items-wrap blog_posts_list blog-posts-shortcode">
                    <div class="posts-list grid">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="single-post clearfix animateIn" data-animate="fadeIn">
                                        <div class="col-md-12 post-thumbnail">
                                            <figure class="effect-lexi">
                                                <img src="{% static "img/gallery/1.jpg"%}" alt=""/>
                                                <figcaption>
                                                    <i class="icon-arrow-right-circle"></i>
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <div class="col-md-12 post-details">
                                            <div class="post-details-holder">
                                                <h3 class="post-title text-center">
                                                    <a href="blog-article.html">Jimmy</a>
                                                </h3>
                                                <div class="give-goal-progress">
                                                    <div class="raised">
                                                        <span class="income">$1.400</span> of <span class="goal-text">$2,900</span> raised
                                                    </div>
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width:55%">
                                                        55% Raised</div>
                                                    </div>
                                                </div>
                                                <div class="give-donate-donors-number">
                                                    <i class="icon-people icons"></i> Raised by 11 Donors
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="single-post clearfix animateIn" data-animate="fadeIn">
                                        <div class="col-md-12 post-thumbnail">
                                            <figure class="effect-lexi">
                                                <img src="{% static "img/gallery/2.jpg"%}" alt=""/>
                                                <figcaption>
                                                    <i class="icon-arrow-right-circle"></i>
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <div class="col-md-12 post-details">
                                            <div class="post-details-holder">
                                                <h3 class="post-title text-center"><a href="blog-article.html">Petunia</a></h3>
                                                <div class="give-goal-progress">
                                                    <div class="raised">
                                                        <span class="income">$650</span> of <span class="goal-text">$900</span> raised
                                                    </div>
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
                                                        85% Raised</div>
                                                    </div>
                                                </div>
                                                <div class="give-donate-donors-number">
                                                    <i class="icon-people icons"></i> Raised by 7 Donors
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="single-post clearfix animateIn" data-animate="fadeIn">
                                        <div class="col-md-12 post-thumbnail">
                                            <figure class="effect-lexi">
                                                <img src="{% static "img/gallery/3.jpg"%}" alt=""/>
                                                <figcaption>
                                                    <i class="icon-arrow-right-circle"></i>
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <div class="col-md-12 post-details">
                                            <div class="post-details-holder">
                                                <h3 class="post-title text-center"><a href="blog-article.html">Roxy</a></h3>
                                                <div class="give-goal-progress">
                                                    <div class="raised">
                                                        <span class="income">$1.400</span> of <span class="goal-text">$2,900</span> raised
                                                    </div>
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width:55%">
                                                        55% Raised</div>
                                                    </div>
                                                </div>
                                                <div class="give-donate-donors-number">
                                                    <i class="icon-people icons"></i> Raised by 11 Donors
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="spacer_50"></div>

                        <!-- <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="single-post clearfix animateIn" data-animate="fadeIn">
                                        <div class="col-md-12 post-thumbnail">
                                            <figure class="effect-lexi">
                                                <img src="{% static "img/gallery/4.jpg"%}" alt=""/>
                                                <figcaption>
                                                    <i class="icon-arrow-right-circle"></i>
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <div class="col-md-12 post-details">
                                            <div class="post-details-holder">
                                                <h3 class="post-title text-center"><a href="blog-article.html">Marco the Parrot Needs You</a></h3>
                                                <div class="give-goal-progress">
                                                    <div class="raised">
                                                        <span class="income">$650</span> of <span class="goal-text">$900</span> raised
                                                    </div>
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
                                                        85% Raised</div>
                                                    </div>
                                                </div>
                                                <div class="give-donate-donors-number">
                                                    <i class="icon-people icons"></i> Raised by 7 Donors
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="single-post clearfix animateIn" data-animate="fadeIn">
                                        <div class="col-md-12 post-thumbnail">
                                            <figure class="effect-lexi">
                                                <img src="{% static "img/gallery/5.jpg"%}" alt=""/>
                                                <figcaption>
                                                    <i class="icon-arrow-right-circle"></i>
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <div class="col-md-12 post-details">
                                            <div class="post-details-holder">
                                                <h3 class="post-title text-center"><a href="blog-article.html">Husky Surgery Needs Funds</a></h3>
                                                <div class="give-goal-progress">
                                                    <div class="raised">
                                                        <span class="income">$1.400</span> of <span class="goal-text">$2,900</span> raised
                                                    </div>
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width:55%">
                                                        55% Raised</div>
                                                    </div>
                                                </div>
                                                <div class="give-donate-donors-number">
                                                    <i class="icon-people icons"></i> Raised by 11 Donors
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="single-post clearfix animateIn" data-animate="fadeIn">
                                        <div class="col-md-12 post-thumbnail">
                                            <figure class="effect-lexi">
                                                <img src="{% static "img/gallery/6.jpg"%}" alt=""/>
                                                <figcaption>
                                                    <i class="icon-arrow-right-circle"></i>
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <div class="col-md-12 post-details">
                                            <div class="post-details-holder">
                                                <h3 class="post-title text-center"><a href="blog-article.html">Family Get Together</a></h3>
                                                <div class="give-goal-progress">
                                                    <div class="raised">
                                                        <span class="income">$650</span> of <span class="goal-text">$900</span> raised
                                                    </div>
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
                                                        85% Raised</div>
                                                    </div>
                                                </div>
                                                <div class="give-donate-donors-number">
                                                    <i class="icon-people icons"></i> Raised by 7 Donors
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <!-- <div class="spacer_50"></div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="single-post clearfix animateIn" data-animate="fadeIn">
                                        <div class="col-md-12 post-thumbnail">
                                            <figure class="effect-lexi">
                                                <img src="{% static "img/gallery/7.jpg"%}" alt=""/>
                                                <figcaption>
                                                    <i class="icon-arrow-right-circle"></i>
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <div class="col-md-12 post-details">
                                            <div class="post-details-holder">
                                                <h3 class="post-title text-center"><a href="blog-article.html">Paw Surgery for Tom the Cat</a></h3>
                                                <div class="give-goal-progress">
                                                    <div class="raised">
                                                        <span class="income">$1.400</span> of <span class="goal-text">$2,900</span> raised
                                                    </div>
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width:55%">
                                                        55% Raised</div>
                                                    </div>
                                                </div>
                                                <div class="give-donate-donors-number">
                                                    <i class="icon-people icons"></i> Raised by 11 Donors
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="single-post clearfix animateIn" data-animate="fadeIn">
                                        <div class="col-md-12 post-thumbnail">
                                            <figure class="effect-lexi">
                                                <img src="{% static "img/gallery/8.jpg"%}" alt=""/>
                                                <figcaption>
                                                    <i class="icon-arrow-right-circle"></i>
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <div class="col-md-12 post-details">
                                            <div class="post-details-holder">
                                                <h3 class="post-title text-center"><a href="blog-article.html">Fundraising for Brothers</a></h3>
                                                <div class="give-goal-progress">
                                                    <div class="raised">
                                                        <span class="income">$1.400</span> of <span class="goal-text">$2,900</span> raised
                                                    </div>
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width:55%">
                                                        55% Raised</div>
                                                    </div>
                                                </div>
                                                <div class="give-donate-donors-number">
                                                    <i class="icon-people icons"></i> Raised by 11 Donors
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="single-post clearfix animateIn" data-animate="fadeIn">
                                        <div class="col-md-12 post-thumbnail">
                                            <figure class="effect-lexi">
                                                <img src="{% static "img/gallery/9.jpg"%}" alt=""/>
                                                <figcaption>
                                                    <i class="icon-arrow-right-circle"></i>
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <div class="col-md-12 post-details">
                                            <div class="post-details-holder">
                                                <h3 class="post-title text-center"><a href="blog-article.html">Helping Africa Education</a></h3>
                                                <div class="give-goal-progress">
                                                    <div class="raised">
                                                        <span class="income">$1650</span> of <span class="goal-text">$1900</span> raised
                                                    </div>
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%">
                                                        75% Raised</div>
                                                    </div>
                                                </div>
                                                <div class="give-donate-donors-number">
                                                    <i class="icon-people icons"></i> Raised by 7 Donors
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </section>


        <section class="high-padding gray-section" data-scroll-index="3">
            <div class="container">
                <!-- TITLE + SUBTITLE section -->
                <div class="relative section-header animateIn" data-animate="fadeIn">
                    <h2 class="section-title"><span>Success </span> Stories</h2>
                    <p>Check out the freedom pictures from pets lives that have been saved through RescuWise by people just like <strong>you!</strong></p>
                </div>
                <!-- Blog posts section -->
                <div class="items-wrap blog_posts_list blog-posts-shortcode">
                    <div class="posts-list grid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="single-post clearfix animateIn" data-animate="fadeIn">
                                        <div class="col-md-12 post-thumbnail">
                                            <figure class="effect-lexi">
                                                <img src="{% static "img/gallery/1.jpg"%}" alt=""/>
                                                <figcaption>
                                                    <i class="icon-arrow-right-circle"></i>
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <div class="col-md-12 post-details">
                                            <div class="post-details-holder">
                                                <h3 class="post-title text-center"><a href="blog-article.html">Gigi's Brand New Family</a></h3>
                                                <div class="more-post-details text-center">
                                                    <!-- <a class="more-link" href="blog-article.html"><i class="icon-user"></i> Jim Hauzi</a>
                                                    <a class="more-link" href="blog-article.html"><i class="icon-clock"></i> 12/01/2017</a> -->
                                                </div>
                                                <p class="post-excerpt text-center">Nam auctor id nisi ut tempus. Aenean pulvinar ex sit amet dolor euismod.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="single-post clearfix animateIn" data-animate="fadeIn">
                                        <div class="col-md-12 post-thumbnail">
                                            <figure class="effect-lexi">
                                                <img src="{% static "img/gallery/2.jpg"%}" alt=""/>
                                                <figcaption>
                                                    <i class="icon-arrow-right-circle"></i>
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <div class="col-md-12 post-details">
                                            <div class="post-details-holder">
                                                <h3 class="post-title text-center"><a href="blog-article.html">Howie's first Christmas in a New Home!</a></h3>
                                                <div class="more-post-details text-center">
                                                    <!-- <a class="more-link" href="blog-article.html"><i class="icon-user"></i> Jim Hauzi</a>
                                                    <a class="more-link" href="blog-article.html"><i class="icon-clock"></i> 12/01/2017</a>
                                                </div> -->
                                                <p class="post-excerpt text-center">Nam auctor id nisi ut tempus. Aenean pulvinar ex sit amet dolor euismod.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="high-padding white-section" data-scroll-index="5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- TITLE + SUBTITLE section -->
                        <div class="relative section-header text-center animateIn" data-animate="fadeIn">
                            <h2 class="section-title"> RescuWise <span>Testimonials </span></h2>
                            <p>Check out the testimonials from shelters, rescues, and donors!</p>
                        </div>
                        <!-- Testimonials -->
                        <div>
                            <div class="testimonials_slider owl-carousel owl-theme animateIn" data-animate="fadeIn">
                                <div class="item">
                                    <div class="testimonial-content">
                                        <h4>
                                            <img src="{% static "img/testimonials/1.jpg"%}" alt="" />
                                            <span class="testimonial-author">Jacob Luiz</span> <span class="testimonial-job">- Charity Donor</span>
                                        </h4>
                                        <p>When faith and hope fail, as they do sometimes, we must try charity, which is love in action. We must speculate no more on our duty, but simply do it. When we have done it, however blindly, perhaps Heaven will show us why. The life of a man consists not in</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="testimonial-content">
                                        <h4>
                                            <img src="{% static "img/testimonials/2.jpg"%}" alt="" />
                                            <span class="testimonial-author">Jacob Luiz</span> <span class="testimonial-job">- NGO Top Donor</span>
                                        </h4>
                                        <p>When faith and hope fail, as they do sometimes, we must try charity, which is love in action. We must speculate no more on our duty, but simply do it. When we have done it, however blindly, perhaps Heaven will show us why. The life of a man consists not in</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="testimonial-content">
                                        <h4>
                                            <img src="{% static "img/testimonials/3.jpg"%}" alt="" />
                                            <span class="testimonial-author">Jacob Luiz</span> <span class="testimonial-job">- Charity Donor</span>
                                        </h4>
                                        <p>When faith and hope fail, as they do sometimes, we must try charity, which is love in action. We must speculate no more on our duty, but simply do it. When we have done it, however blindly, perhaps Heaven will show us why. The life of a man consists not in</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="testimonial-content">
                                        <h4>
                                            <img src="{% static "img/testimonials/2.jpg"%}" alt="" />
                                            <span class="testimonial-author">Jacob Luiz</span> <span class="testimonial-job">- Charity Donor</span>
                                        </h4>
                                        <p>When faith and hope fail, as they do sometimes, we must try charity, which is love in action. We must speculate no more on our duty, but simply do it. When we have done it, however blindly, perhaps Heaven will show us why. The life of a man consists not in</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="testimonial-content">
                                        <h4>
                                            <img src="{% static "img/testimonials/3.jpg"%}" alt="" />
                                            <span class="testimonial-author">Jacob Luiz</span> <span class="testimonial-job">- Charity Donor</span>
                                        </h4>
                                        <p>When faith and hope fail, as they do sometimes, we must try charity, which is love in action. We must speculate no more on our duty, but simply do it. When we have done it, however blindly, perhaps Heaven will show us why. The life of a man consists not in</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>





{% endblock %}
