{% extends 'base.html' %}

{% block pagetitle %}Gallery{% endblock pagetitle %}

{% block headertitle %}Gallery{% endblock headertitle %}

{% block bodycontent %}


    <!-- MAIN CONTAINER -->
	<div id="container" class="main-content">
        <!-- SECTION: GALLERY -->
        <section class="white-section high-padding">
            <div class="container">
                <!-- Blog posts section -->
                <div class="items-wrap blog_posts_list blog-posts-shortcode gallery-posts-shortcode animateIn" data-animate="fadeIn">
                    <div class="posts-list grid">
                        <div class="row">
                            <figure class="lift-thumbnail blog_post col-md-4">
                                <img src="img/gallery/4.jpg" alt=""/>
                                <figcaption>
                                    <p>Help Parrots <i class="icon-size-fullscreen"></i></p>
                                    <a class="swipebox" href="img/gallery/4.jpg"></a>
                                    <div class="love-post">
                                        <i class="fa fa-heart-o" data-original-title="Love post" data-placement="right" data-toggle="tooltip"></i>
                                        <i class="fa fa-heart" data-original-title="Loved" data-placement="right" data-toggle="tooltip"></i>
                                    </div>
                                </figcaption>
                            </figure>
                            <figure class="lift-thumbnail blog_post col-md-4">
                                <img src="img/gallery/5.jpg" alt=""/>
                                <figcaption>
                                    <p>Dog Surgery <i class="icon-size-fullscreen"></i></p>
                                    <a class="swipebox" href="img/gallery/5.jpg"></a>
                                    <div class="love-post">
                                        <i class="fa fa-heart-o" data-original-title="Love post" data-placement="right" data-toggle="tooltip"></i>
                                        <i class="fa fa-heart" data-original-title="Loved" data-placement="right" data-toggle="tooltip"></i>
                                    </div>
                                </figcaption>
                            </figure>
                            <figure class="lift-thumbnail blog_post col-md-4">
                                <img src="img/gallery/6.jpg" alt=""/>
                                <figcaption>
                                    <p>GoFund Family <i class="icon-size-fullscreen"></i></p>
                                    <a class="swipebox" href="img/gallery/6.jpg"></a>
                                    <div class="love-post">
                                        <i class="fa fa-heart-o" data-original-title="Love post" data-placement="right" data-toggle="tooltip"></i>
                                        <i class="fa fa-heart" data-original-title="Loved" data-placement="right" data-toggle="tooltip"></i>
                                    </div>
                                </figcaption>
                            </figure>
                            <figure class="lift-thumbnail blog_post col-md-4">
                                <img src="img/gallery/1.jpg" alt=""/>
                                <figcaption>
                                    <p>Family Together <i class="icon-size-fullscreen"></i></p>
                                    <a class="swipebox" href="img/gallery/1.jpg"></a>
                                    <div class="love-post">
                                        <i class="fa fa-heart-o" data-original-title="Love post" data-placement="right" data-toggle="tooltip"></i>
                                        <i class="fa fa-heart" data-original-title="Loved" data-placement="right" data-toggle="tooltip"></i>
                                    </div>
                                </figcaption>
                            </figure>
                            <figure class="lift-thumbnail blog_post col-md-4">
                                <img src="img/gallery/2.jpg" alt=""/>
                                <figcaption>
                                    <p>Africa Childs <i class="icon-size-fullscreen"></i></p>
                                    <a class="swipebox" href="img/gallery/2.jpg"></a>
                                    <div class="love-post">
                                        <i class="fa fa-heart-o" data-original-title="Love post" data-placement="right" data-toggle="tooltip"></i>
                                        <i class="fa fa-heart" data-original-title="Loved" data-placement="right" data-toggle="tooltip"></i>
                                    </div>
                                </figcaption>
                            </figure>
                            <figure class="lift-thumbnail blog_post col-md-4">
                                <img src="img/gallery/3.jpg" alt=""/>
                                <figcaption>
                                    <p>Poor Children <i class="icon-size-fullscreen"></i></p>
                                    <a class="swipebox" href="img/gallery/3.jpg"></a>
                                    <div class="love-post">
                                        <i class="fa fa-heart-o" data-original-title="Love post" data-placement="right" data-toggle="tooltip"></i>
                                        <i class="fa fa-heart" data-original-title="Loved" data-placement="right" data-toggle="tooltip"></i>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    {% endblock bodycontent %}
